__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
venv/
env/
.venv/
.env/
virtual/
.vscode/
.idea/
*.iml
dist/
build/
coverage/
*.sqlite3
*.db
*.sql
docker-compose.override.yml
docker-compose.override.yaml
*.dump