<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Interpreter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/dracula.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        #editor {
            height: 300px;
            border: 1px solid #ccc;
        }
        #output {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <h1>Python Interpreter</h1>
    <textarea id="code" name="code"></textarea>
    <button onclick="runCode()">Run Code</button>
    <div id="output"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script>
        const editor = CodeMirror.fromTextArea(document.getElementById('code'), {
            mode: 'python',
            theme: 'dracula',
            lineNumbers: true,
        });

        async function runCode() {
            const code = editor.getValue();
            console.log("Code from html: ", code);
            const response = await fetch('/codeexecutor/run/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ code })
            });
            const result = await response.json();
            document.getElementById('output').textContent = result.output || result.error;
        }
    </script>
</body>
</html>